<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SQL Bomb Disposal{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/favicon.ico') }}"/>
    {% include 'partials/includes.html.twig' %}
</head>
<body>
{% block body %}
    {% include 'partials/header.html.twig' with {activePage:'download'} %}
    <div class="container my-5 bg-dark rounded-3 overflow-hidden">
        <p class="text-light">
            As stated in the tutorial, for one half of the players the website is sufficient, the other half can download
            the desktop application <a href="{{ asset('assets/SQLBombDisposalGame.zip') }}" target="_blank">HERE</a> and play it via the exe.
        </p>
    </div>
{% endblock %}
</body>
</html>