<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SQL Bomb Disposal{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/favicon.ico') }}"/>
    {% include 'partials/includes.html.twig' %}
</head>
<body>
{% block body %}
    {% include 'partials/header.html.twig' with {activePage:'home'} %}
    <div class="container my-5 bg-dark rounded-3 overflow-hidden">
        <p class="text-light">
            Welcome to your first steps into the wonderful world of databases. To help you on your way, please watch the video provided below. Good luck learning SQL!
        </p>
        <iframe style="aspect-ratio: 16 / 9; width: 100%" src="https://www.youtube.com/embed/jManGFDU9pw?si=Xga2B6ej7ojxs5BK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{% endblock %}
</body>
</html>